
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
Debug/

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Visual Studio caches
*.vsidx
CodeChunks.db
*.dtbcache*
*.db-wal
*.db-shm
*.dtbcache*

# Misc
*.cyclo
*.prefs
*.settings/*
*.settings/language.settings.xml

Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/CopilotIndices/17.14.995.13737/SemanticSymbols.db
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/DesignTimeBuild/.dtbcache.v2
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/FileContentIndex/0c0043bc-1b7c-41c4-af8d-4b73efbc6f3d.vsidx
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/FileContentIndex/0eb39b9c-f897-487c-9543-332bfc23f8ee.vsidx
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/FileContentIndex/2b7b0541-c7fb-42c5-b411-a52607699749.vsidx
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/FileContentIndex/34f94d04-04f6-4e76-9a3f-998a76b78b05.vsidx
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/FileContentIndex/3fe11467-bb9e-4e09-848a-99b3ecde42af.vsidx
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/FileContentIndex/47f59f4e-fe3c-4325-8ecc-71506aa75fef.vsidx
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/FileContentIndex/5b0ca873-ea18-4f5a-ba96-9e7e81672484.vsidx
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/FileContentIndex/ac5532b4-00b4-49f0-acf9-da050a8ccc21.vsidx
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/FileContentIndex/eae20469-fef7-4366-ae72-72d65ad91b5d.vsidx
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/FileContentIndex/f9556f5f-7311-4eb0-b5d8-b1cd4607d97b.vsidx
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/v17/.suo
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/v17/DocumentLayout.backup.json
Software/Force Feedback Yoke Desktop App/.vs/Force Feedback Yoke Desktop App/v17/DocumentLayout.json
Software/Force Feedback Yoke Desktop App/.vs/ProjectEvaluation/force feedback yoke desktop app.metadata.v9.bin
Software/Force Feedback Yoke Desktop App/.vs/ProjectEvaluation/force feedback yoke desktop app.projects.v9.bin
Software/Force Feedback Yoke Desktop App/.vs/ProjectEvaluation/force feedback yoke desktop app.strings.v9.bin
